* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f0f3f5;
}

.container {
  max-width: 198vh;
  margin: 0 auto;
}

.top-bar {
  background-color: #f0f3f5;
  padding: 5px 20px;
  font-size: 13px;
  color: #5c6c75;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.selector {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}


.main-header {
  justify-content: center;
  background-color: white;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  color: #212529;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo i {
  color: #0aad0a;
}


.search-container {
  flex-grow: 1;
  max-width: 600px;
  display: flex;
  gap: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #dfe2e1;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  background: white;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #5c6c75;
}

.btn {
  background: white;
  border: 1px solid #dfe2e1;
  padding: 10px 20px;
  border-radius: 5px;
  color: #5c6c75;
  cursor: pointer;
  white-space: nowrap;
}




.actions {
  margin-left: 230px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  position: relative;
  font-size: 20px;
  color: #5c6c75;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #0aad0a;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-bar {
  /* margin-left: 50px; */
  justify-content: start;
  background-color: white;
  padding: 0 40px 15px 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #dfe2e1;
}

.dept-btn {
  margin-left: 350px;
  background-color: #0aad0a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #5c6c75;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner {
  background-image: url('https://freshcart.codescandy.com/assets/images/slider/slider-2.jpg');
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;

}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #d1e7dd;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  gap: 20px;
  /* margin-left: 50px; */
}

.banner p {
  margin-left: 50px;
  background-color: gold;
  font-size: 25px;
  color: #0f5132;
  padding: 5px 15px;
  border-radius: 5px;
}

.banner h1 {
  margin-left: 50px;
  font-size: 55px;
  color: #001E2B;
  line-height: 1.2;
}

.banner b {
  margin-left: 50px;
  font-size: 25px;
  color: #5D6D76;
  font-weight: 500;
}

.banner button {
  margin-left: 50px;
  height: 55px;
  width: 150px;
  background-color: #26404B;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.banner button:hover {
  opacity: 0.9;
}

.df {

  color: #0aad0a;
  font-weight: bold;
}

.categories-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(87, 83, 83);
  border-radius: 10px;
}

.card img {
  width: 250px;
  height: 220px;
  padding: 5px;
  border-radius: 10px;
}

.card p {
  text-align: center;
  font-weight: 800;
  color: rgb(87, 83, 83);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  gap: 10px;
}

.cardleft {
  color: black;
  background-image: url('https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png');
  width: 850px;
  height: 300px;
  background-size: cover;
  border-radius: 8px;
}

.cardright {
  color: black;
  background-image: url('https://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg');
  width: 850px;
  height: 300px;
  background-size: cover;
  border-radius: 8px;
}

.cardleft h1,
.cardright h1 {
  margin-left: 15px;
  color: black;
  font-size: 35px;
  margin-top: 140px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cardleft p,
.cardright p {
  margin-left: 20px;
  color: #95979B;
  font-weight: 600;
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardleft button,
.cardright button {
  margin-left: 20px;
  background-color: #26404B;
  border: none;
  height: 50px;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  padding: 8px;
  /* margin: 8px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-title {
  margin-left: 2px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.product-card {
  /* display: flex; */
  width: 280px;
  height: auto;
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.3s ease-in-out;
  margin: 40px;
}



.product-img {
  width: 100%;
  height: 170px;
  object-fit: contain;
  margin-bottom: 10px;
}

.category {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.name {
  font-size: 17px;
  margin: 5px 0;
  font-weight: bold;
}

.rating {
  font-size: 13px;
  color: #444;
}

.price {
  margin: 5px 0 10px;
}

.price .new {
  font-size: 18px;
  font-weight: bold;
  color: #2d7a38;
}

.price .old {
  text-decoration: line-through;
  color: gray;
  margin-left: 8px;
}

.add-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #2ecc71;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #27ae60;
}


.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 70px;
  font-family: Arial, sans-serif;
}

.featurebox {
  width: 22%;
}

.featurebox .icon {
  font-size: 50px;
  color: #24a148;
  margin-bottom: 30px;
}

.featurebox h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.featurebox p {
  font-size: 14px;
  color: #534d4d;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
}




footer {
  background: #f5f5f5;
  padding: 40px 0;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.ftr {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}


.ftr ul {
  list-style: none;
  padding: 0;
}

.ftr ul li {
  padding: 6px 0;
  color: #555;
  font-size: 15px;
  cursor: pointer;
}

.ftr ul li:hover {
  color: #000;
}


.title-ftr {
  font-size: 18px !important;
  font-weight: 700 !important;
  padding-bottom: 15px !important;
  color: #222 !important;
}


.ftr-last {
  grid-column: 1 / -1;
  margin-top: 40px;
}

.ftr-last hr {
  border: none;
  height: 1px;
  background: #ddd;
  /* height:10px; */
}

.ftr-last .footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  flex-wrap: wrap;
  /* responsive */
  gap: 20px;
}

.footer-row p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-row img {
  height: 40px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.footer-row img:hover {
  transform: scale(1.05);
}

.copy-text {
  color: #777;
  padding: 40px 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.copy-text span {
  color: #2bb573;
  font-weight: 600;
}